@font-face {
   font-family: 'Fontastic (1)';
   font-display: swap;
   src: url('file:///C:/Users/%D0%AE%D1%80%D0%B8%D0%B9/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-12-21_142247/fonts/Fontastic%20(1)/font.ttf');
}
